* {
  box-sizing: border-box;
}

body {
  font-family: $default-font;
  color: $black;
  overflow-x: hidden;
}

a:hover { text-decoration: none }

p { margin: 0 0 36px 0 }

.header-1 {
  margin-bottom: 70px;
  color: $white;
  font-weight: 900;
  font-size: 99px;
  line-height: 118px;

  @media all and (max-width: $tablet-bp) {
    margin-bottom: 55px;
    font-size: 49px;
    line-height: 59px;
  }

  @media all and (max-width: $mobile-bp) {
    font-size: 30px;
    line-height: 36px;
  }

  span { color: $red }
}

.pre-header-1 {
  margin-bottom: 18px;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 4px;
  color: $white;
  text-transform: uppercase;

  @media all and (max-width: $tablet-bp) {
    font-size: 10px;
    line-height: 20px;
  }
}

.header-2 {
  margin-bottom: 19px;
  color: $black;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;

  @media all and (max-width: $tablet-bp) {
    font-size: 35px;
    line-height: 57px;
  }
}

.pre-header-2 {
  font-style: normal;
  font-weight: 800;
  font-size: 12.6px;
  line-height: 26px;
  letter-spacing: 6px;
  color: $red;
  text-transform: uppercase;
}

.fw-bold { font-weight: 800 }

.quote {
  position: relative;
  font-family: $secondary-font;
  color: $white;
  font-style: italic;
  font-size: 22.5px;
  line-height: 40px;

  &::before,
  &::after {
    position: absolute;
    height: 100px;
    width: 100px;
    color: rgba($white, .25);
    font-style: italic;
    font-weight: bold;
    font-size: 144px;
    line-height: 144px;

    @media all and (max-width: $tablet-bp) {
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
    }
  }
  &::before {
    top: -120px;
    left: calc(50% - 48px);
    content: '“';

    @media all and (max-width: $tablet-bp) {
      top: 0;
      left: -20px;
    }
  }
  &::after {
    bottom: -120px;
    right: calc(50% - 48px);
    content: '”';

    @media all and (max-width: $tablet-bp) {
      bottom: -10px;
      right: -20px;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  height: 45px;
  width: 197px;
  font-weight: 500;
  font-size: 13.5px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: $fast-transition;

  &--red {
    color: $white;
    background-color: $red;

    &:hover {
      color: $white;
      box-shadow: 0 4px 5px 0 rgba($red, .14), 0 1px 10px 0 rgba($red, .12), 0 2px 4px -1px rgba($red, .2);

    }
    &:active { background-color: rgba($red, .95) }
  }
}
