// Colors
$black: #30233D;
$purple: #30124E;
$purple-dark: #150433;
$red: #F61067;
$white: #FCFCFC;

// Breakpoints
$mobile-bp: 768px;
$tablet-bp: 992px;

// Other
$default-font: 'M PLUS 1p', sans-serif;
$secondary-font: 'Noticia Text', serif;
$fast-transition: all ease-in-out .2s;
$middle-transition: all ease-in .25s;

